@using Microsoft.AspNetCore.Identity
@using ecommerce.Models
@using ecommerce.Components
@using System.Security.Claims;
@{
    ViewData["Title"] = "Squirrels with Ties";
}
@inject UserManager<ApplicationUser> UserManager
@inject SignInManager<ApplicationUser> SignInManager

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/normalize.css?query=@System.Net.WebUtility.UrlEncode(Context.Request.Query["query"])" rel="stylesheet" />
    <link rel="stylesheet" href="~/CSS/Layout.css?query=@System.Net.WebUtility.UrlEncode(Context.Request.Query["query"])" />
    <link href="https://fonts.googleapis.com/css?family=Pacifico?query=@System.Net.WebUtility.UrlEncode(Context.Request.Query["query"])" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css?query=@System.Net.WebUtility.UrlEncode(Context.Request.Query["query"])" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">

    <title>@ViewBag.Title</title>
</head>
<body>
    <header class="jumbotron" id="Header">
        <h1><a asp-controller="Admin" asp-action="Index">Admins With Ties</a></h1>
        <div>
            @if (SignInManager.IsSignedIn(User))
            {
                <p>@User.Claims.First(c => c.Type == "FullName").Value: </p>
                <a class="nav-link" asp-controller="Account" asp-action="Logout">Log Out</a>
            }
            else
            {
                <a asp-controller="Account" asp-action="Login">Log In</a>

            }

        </div>
    </header>
    <main>
        <div id="Menu">
            <i class="fas fa-chevron-right"></i>
            <aside>
                <div></div>
                <a class="nav-link" asp-controller="Admin" asp-action="Index">Home</a>
                <a class="nav-link" asp-controller="Product" asp-action="Inventory">Products</a>
                <a class="nav-link" asp-page="/Profile">Profile</a>
                <a class="nav-link" asp-controller="Admin" asp-action="Order">Orders</a>
                <a class="nav-link" asp-controller="Home" asp-action="Index">Change View</a>
                <a class="nav-link" asp-controller="Account" asp-action="Logout">Log Out</a>
            </aside>
        </div>

        <div class="center-block text-center" id="MainBody">
            @RenderBody()
        </div>

    </main>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/js/bootstrap.min.js" integrity="sha384-o+RDsa0aLu++PJvFqy8fFScvbHFLtbvScb8AjopnFD+iEQ7wo/CG0xlczd+2O/em" crossorigin="anonymous"></script>
</body>
</html>

