<div class="header">
        <h1>Squirrel Store</h1>
        @if (SignInManager.IsSignedIn(User))
        {
            <h4>Logged in as: @User.Claims.First(c => c.Type == "FullName").Value</h4>
        }
        <nav>
            <ul>
                <li>Home</li>
                <li>Products</li>
                @if (SignInManager.IsSignedIn(User))
                {
                    <li>Logout</li>
                }
                else
                {
                    <li>Login</li>
                }
            </ul>
        </nav>

</div>
