@using Microsoft.AspNetCore.Identity
@using ecommerce.Models
@using System.Security.Claims;


@inject UserManager<ApplicationUser> UserManager
@inject SignInManager<ApplicationUser> SignInManager

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />

    <link type="text/css" href="~/styles/normalize.css" rel="stylesheet" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <div>

    <nav>
        <ul>
            <li>
                <a asp-controller="Shop" asp-action="Inventory">View Products</a>
            </li>
            <li>
                @if (SignInManager.IsSignedIn(User))
                {
                    <a asp-controller="Account" asp-action="Logout">Log Out</a>
                }
                else
                {
                    <a asp-controller="Account" asp-action="Login">Log In</a>

                }
            </li>

        </ul>
    </nav>
    <</div>
    <div>
        @RenderBody()
    </div>
</body>
</html>
