<head>
    <link rel="stylesheet" href="~/AdminCSS/Admin.css" />
</head>

<h2>Welcom to the admin dashboard</h2>
<div>
    <a asp-controller="Product" asp-action="Inventory">Check Inventory</a>
</div>
<div>
    <a asp-controller="Admin" asp-action="User">Check User</a>
</div>

