@{
    Layout = "_AdminLayout";
}

<head>
    <link href="~/CSS/Home.css?query=@System.Net.WebUtility.UrlEncode(Context.Request.Query["query"])" rel="stylesheet" />
</head>


<div id="HomeContent">
    <h3>Welcome to the admin dashboard</h3>
    <a class="AdminLink" asp-controller="Product" asp-action="Inventory">Check Inventory</a>
    <a class="AdminLink" asp-controller="Admin" asp-action="Order">Check orders</a>
</div>


