@{
    Layout = "_Layout";
}
<head>
    <link href="~/CSS/Admin.css" rel="stylesheet" />
</head>


<h2>Welcome to the admin dashboard</h2>
<div class="adminLink">
    <a asp-controller="Product" asp-action="Inventory">Check Inventory</a>
</div>
<div class="adminLink">
    <a asp-controller="Admin" asp-action="User">Check User</a>
</div>

