@model List<ecommerce.Models.Product>

@{
    Layout = "_AdminLayout";
}
<head>
    <link href="~/CSS/Inventory.css?query=@System.Net.WebUtility.UrlEncode(Context.Request.Query["query"])" rel="stylesheet" />
</head>

<a id="AddProduct" asp-controller="Product" asp-action="AddProduct">Add Product</a>

<section class="Inventory">
    @foreach (var item in Model)
    {
        <div id="ProductCard">
            <h2>@item.Name</h2>
            <img src="@item.Image" />
            <p>$@item.Price</p>
            <p>SKU: @item.Sku</p>
            <p><a asp-controller="Product" asp-action="Detail" asp-route-id="@item.ID">View Detail</a></p>
        </div>
    }
</section>