@using Microsoft.AspNetCore.Identity
@using ecommerce.Models
@using System.Security.Claims;

@inject UserManager<ApplicationUser> UserManager
@inject SignInManager<ApplicationUser> SignInManager

@{
    Layout = "_Layout";
}



@if (SignInManager.IsSignedIn(User))
{
    <h3>Hello, @User.Claims.First(c => c.Type == "FullName").Value</h3>
    <p>Welcome to Squirrels with Ties, the premier marketplace for squirrel inspired merchandise</p>

}
else
{
    <h3>Hello, Anonymous Squirrel</h3>
    <p>Welcome to Squirrels with Ties, the premier marketplace for squirrel inspired merchandise</p>

}
