@using Microsoft.AspNetCore.Identity
@using ecommerce.Models
@using System.Security.Claims;

@inject UserManager<ApplicationUser> UserManager
@inject SignInManager<ApplicationUser> SignInManager

@{
    Layout = "_Layout";
}


@*<form method="post" asp-controller="Product" form-action="">
        <div>
            <label asp-for="">Product Idea</label>
            <input asp-for="" />
        </div>

        <button type="submit">Add Suggstion</button>
    </form>*@
<p>Give us your feedback</p>

