$Primary: #f5f5c6;
$Secondary: #7da87b;
$Tertiary: #326765;

/*Make it responsive*/
$BannerHeight: 400px;
$SideIconHeight: 100px;
$SideIconWidth:50px;

$BigGutter: 40px;
$SmallGutter: $BigGutter / 2;

$BaseHeight: 100vh * .2;
$White: white;

$TransitionTime: 0.3s;

$BannerFont: 'Pacifico', cursive;
$NavFont:'Roboto',sans-serif;
$FontSize: 21px;

