@import "_themes.scss";

h2 {
    font-size: 2vw;
}

.adminLink {
    a {
        display: inline-block;
        background-color: orange;
        border: 1px solid black;
        border-radius: 25px;
        box-shadow: 3px 3px 5px lightblue;
        color: blue;
        padding: .5em;
        text-align: center;
        text-decoration: none;
        transition: .3s all;
        margin-left:2vw;
    }
}