/*Make it responsive*/
.Inventory {
  text-align: center; }

* {
  box-sizing: border-box; }

#MainBody {
  text-align: center; }

#AddProduct {
  background-color: #326765;
  border: 5px solid black;
  border-radius: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  color: #f5f5c6;
  display: inline-block;
  font-size: 2em;
  margin-top: .5em;
  padding: .3em;
  text-align: center;
  transition: .3s all;
  width: 80%; }
  #AddProduct:Hover {
    background-color: #f5f5c6;
    color: #326765; }
    #AddProduct:Hover:Visited {
      color: #326765; }

#ProductCard {
  background-color: #326765;
  border: 5px solid black;
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  box-sizing: border-box;
  display: inline-grid;
  min-height: 33%;
  margin: .5em;
  max-width: 23vw;
  overflow: hidden;
  text-align: center; }
  #ProductCard img {
    background-color: #326765;
    box-shadow: 0 0 8px black;
    display: inline-block;
    width: 100%; }
  #ProductCard h2 {
    background-color: #326765;
    color: #f5f5c6;
    display: block;
    font-size: 2em;
    font-family: "Pacifico", cursive;
    height: 4em;
    line-height: 1.25em;
    min-height: 20%;
    padding-top: .5em;
    padding-bottom: .25em; }
  #ProductCard p {
    background-color: #326765;
    color: #f5f5c6;
    display: block;
    font-size: 1.5em;
    max-width: 100%;
    padding: .25em; }
  #ProductCard a {
    background-color: #27253d;
    border-radius: 20px;
    border: 1px solid black;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    color: #f5f5c6;
    display: block;
    padding: .2em;
    text-decoration: none;
    transition: .25s all;
    width: 100%; }
    #ProductCard a:visited {
      color: #f5f5c6; }
  #ProductCard:hover a {
    color: #f5f5c6;
    cursor: pointer;
    font-size: 2em; }

