@import '_themes';

.Inventory {
    text-align: center;
}
*{
    box-sizing:border-box;
}
#MainBody {
    text-align: center;
}
#AddProduct {
    background-color: $Tertiary;
    border: 5px solid black;
    border-radius: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    color: $Primary;
    display: inline-block;
    font-size: 2em;
    margin-top: .5em;
    padding: .3em;
    text-align: center;
    transition: .3s all;
    width: 80%;

    &:Hover {
        background-color: $Primary;
        color: $Tertiary;
    &:Visited {
        color: $Tertiary;
    }
    }
}

#ProductCard {
    background-color: $Tertiary;
    border: 5px solid black;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    box-sizing: border-box;
    display: inline-grid;
    min-height: 33%;
    margin: .5em;
    max-width: 23vw;
    overflow: hidden;
    text-align: center;


    img {
        background-color: $Tertiary;
        box-shadow: 0 0 8px black;
        display: inline-block;
        width: 100%;
    }

    h2 {
        background-color: $Tertiary;
        color: $Primary;
        display: block;
        font-size: 2em;
        font-family: $BannerFont;
        height: 4em;
        line-height: 1.25em;
        min-height: 20%;
        padding-top: .5em;
        padding-bottom: .25em;
    }

    p {
        background-color: $Tertiary;
        color: $Primary;
        display: block;
        font-size: 1.5em;
        max-width: 100%;
        padding: .25em;
    }

    a {
        background-color: $Quaduary;
        border-radius: 20px;
        border: 1px solid black;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        color: $Primary;
        display: block;
        padding: .2em;
        text-decoration: none;
        transition: .25s all;
        width: 100%;

        &:visited {
            color: $Primary;
        }
    }

    &:hover {
        a {
            color: $Primary;
            cursor: pointer;
            font-size: 2em;
        }
    }
}
