@import "_themes.scss";


#BasketPanel {
    display: block;
    position: absolute;
    right: 0;
    width: 4%;
    min-width: 30px;
    background-color: $Primary;
    border-radius: 5px 0 0 5px;
    font-size: large;
    font-weight: bold;
    min-height: $BaseHeight * .7;
    margin-top: 3px;
    padding-bottom: 1em;
    padding-right: 1em;
    padding-top: 1em;
    position: absolute;
    text-align: center;
    text-orientation: upright;
    transition: 1s all;
    width: 4%;
    writing-mode: vertical-lr;
    min-width: 30px;

    &#BasketPanel div, hr {
        display: none;
    }

    &:hover {
        background-color: lightblue;
        text-orientation: sideways;
        width: 30%;
        writing-mode: horizontal-tb;

        &#BasketPanel div {
            display: block;
            position: relative;
            height: 100%;
        }

        &#BasketPanel hr {
            display: block;
        }

        &#BasketPanel a, #BasketPanel h2 {
            position: static;
            display: block;
            text-decoration: underline;
            color: black;
            font-size: 2em;

            &:visited {
                color: navy;
            }
        }
    }
}

#BasketPanel div{
    height: 100%;
    overflow: hidden;
    padding: 1em;
    position: relative;
}

#BasketPanel h3 {
    font-size: larger;
    font-weight: bold;
}

#BasketPanel img {
    clear: right;
    max-width: 40%;
    max-height: $BaseHeight * .6;
    float: left;
    border: 2px solid black;
    border-radius: 10%;
    box-shadow: 1px 2px 8px $Primary;
}
#BasketPanel div hr {
    margin-top: 2em;
}

#BasketPanel p {
    margin-top: 1em;
}

#BasketPanel a {
    color: black;
    font-weight: bold;
    text-decoration:none;

    &:hover {
        cursor: pointer;
    }
    &:visited{
        color: black;
    }
}






