#BasketPanel{
    display: none;
    width: 0%;
    z-index: -1;
}
.Inventory {
    padding: 2em;
    position: relative;
    text-align: center;
}
.Inventory div{
    position:absolute;
    top: 0px;
    width: 100%;
}
.card {
    display: block;
    position: relative;
    width: 100%;
}
#BasketItem {
    display: inline-block;
    max-width: 45%;
    text-align: center;
}
.crud {
    display: inline-block;
    max-width: 45%;
    text-align: center;
    vertical-align: central;
}
input {
    max-width: 5em;
}
img{
    max-width: 45%;
}
