#BasketPanel{
    display: none;
    width: 0%;
    z-index: -1;
}
#MainBody{
    display: block;
    height: auto;
    margin-left: 0;
    margin-right: 0;
    max-width: none;
    width:100%;
    z-index: 1;
}
#MainBody h2{
    display: block;
}

#MainBody img{
        max-width:40%;
}
.card {
    display: table;
    width: 100%;
}
#BasketItem {
    display: table-cell;
    max-width: 45%;
    text-align: center;
    vertical-align: central;
}
.crud {
    display: table-cell;
    max-width: 45%;
    text-align: center;
    vertical-align: central;
}
input {
    max-width: 5em;
}
