@import '_themes';

#HomeContent {
    height: 60vh;
    background-color: $Secondary;

    h3 {
        font-size: $FontSize * 2;
        color: $Primary;
        text-align: center;
        padding: 5vh;
    }

    p {
        font-size: $FontSize * 1.5;
        color: $Quaduary;
        text-align: center;
    }

    #AnonymousUser {
        padding-top: 10vh;
    }
}
