@import '_themes';

#HomeContent {
    height: 60vh;
    background-color: $Secondary;
    text-align:center;

    h3 {
        font-size: $FontSize * 2;
        color: $Primary;
        text-align: center;
        padding: 5vh;
    }

    p {
        font-size: $FontSize * 1.5;
        color: $Quaduary;
        text-align: center;
    }

    #AnonymousUser {
        padding-top: 10vh;
    }

    .AdminLink {
        display: inline-block;
        padding: 0.5em 3em;
        border: 0.16em solid $Primary;
        box-sizing: border-box;
        text-decoration: none;
        text-align: center;
        text-transform: uppercase;
        font-family: $NavFont;
        font-weight: 400;
        color: $Primary;

        &:hover {
            color: $Quaduary;
            border-color: $Quaduary;
        }
    }
}
