h2 {
    font-size: 3em;
    font-weight: bolder;
    margin-top: .25em;
    padding: .3em;
    text-align: center;
}

p {
    display: block;
}

div {
    font-weight: bold;
    text-align: center;

    p:first-child {
        font-style: italic;
        font-weight: normal;
    }

    #BasketItem {
        font-weight: normal;
        padding-top:1em;
        p {
            display: inline-block;
            padding-left: 2em;
        }
    }
}
h3{
    padding-top: 1em;
}
