.LoginForm h2 {
  font-size: 2em;
  font-weight: bold;
  padding-bottom: .5em; }

.LoginForm p {
  font-size: 1.2em;
  font-style: italic;
  margin-bottom: 1em;
  margin-top: 1em;
  padding: .5em; }

.LoginForm a {
  background: orange;
  border: 2px solid black;
  border-radius: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  font-style: normal;
  font-weight: bold;
  padding: .4em; }
  .LoginForm a:hover {
    background: lightblue;
    cursor: pointer; }
  .LoginForm a:visited {
    color: black; }

.LoginForm {
  position: relative;
  text-align: center;
  width: 100%; }

.LoginForm form {
  border: 1px solid black;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  display: inline-block;
  padding: 2em;
  text-align: center;
  width: 45%; }

.LoginForm form div {
  display: inline-block;
  padding: .25em;
  position: relative;
  text-align: right;
  width: 100%; }

.LoginForm label {
  float: left;
  font-size: 1.2em;
  line-height: 1.4em; }

.LoginForm button {
  background-color: orange;
  border: 1px solid black;
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  cursor: pointer;
  display: inline-block;
  font-size: 1.5em;
  font-weight: bold;
  height: 2.5em;
  margin-top: 1.2em;
  width: 80%; }
  .LoginForm button:hover {
    background-color: lightblue; }

.LoginForm input {
  border: .5px solid black;
  border-radius: 2px;
  font-size: 1em;
  padding: .2em;
  width: 100%; }

