@import "_themes.scss";

html {
    height: 100vh;
}


header {
    background: linear-gradient(to bottom right,cyan, lightgreen 50px, green);
    border: 1px solid black;
    color: $White;
    min-height: $BaseHeight;
    padding: 1em;
    padding-right: 5em;
    position: relative;
    text-align: right;
}

header h2 {
    display: block;
    font-family: sans-serif;
    font-size: 4em;
    margin-left: 20%;
    margin-top: .5em;
    margin-bottom: .2em;
    text-align: left;
    text-shadow: -2px 2px 8px black;
}


header p {
    color: white;
    display: block;
    font-family: sans-serif;
    font-size: 1.25em;
    font-weight: bold;
    text-align: right;
    text-shadow: -2px 2px 8px black;
}

header a {
    background-color: $Primary;
    border: 1px solid darkorange;
    border-radius: 20px;
    display: inline-block;
    font-family: sans-serif;
    font-size: 1.25em;
    font-weight: bold;
    margin-top: .5em;
    padding: .5em;
    text-shadow: -2px 2px 8px black;
    box-shadow: -1px 3px 10px black;

    &:hover {
        background-color: lightblue;
    }

    &:visited {
        color: white;
    }
}

main {
    position: relative;
    width: 100%;
}

nav {
    display: block;
    background-color: $Primary;
    border-radius: 0 5px 5px 0;
    height: $BaseHeight * .7;
    margin-left: -1px;
    margin-top: 3px;
    overflow: hidden;
    padding: 1em 0em 1em 1em;
    position: absolute;
    width: 4%;
    min-width: 30px;
    z-index:2;

    &:hover {
        transition: 1s all;
        background-color: lightblue;
        color: lightblue;
        width: 25%;

        li {
            display: block;
            font-size: 4vmin;
            left: 35%;
            position: absolute;
            text-align: center;
            top: 35%;
            text-orientation: sideways;
            writing-mode: horizontal-tb;
            &a{
                color: black;
            }
            &a:visited{
                color: black;
            }
        }
    }
}

nav ul {
    font-weight: bold;
    margin-left: .5em;
    margin-top: .5em;
    text-align: center;
    text-orientation: upright;
    writing-mode: vertical-rl;
}

nav li {
    display: none;
}

#MainBody {
    height: 100vh;
    position: absolute;
    text-align:center;
    width: 100%;
    z-index: -1;
}

#MainBody h3 {
    font-size: $BaseHeight * .3;
    margin-top: 2em;
    margin-bottom: 1em;
    text-align: center;
}

#MainBody p {
    text-align: center;
}
#BasketPanel {
    display: block;
    position: absolute;
    right: 0;
    width: 4%;
    min-width: 30px;
    background-color: $Primary;
    border-radius: 5px 0 0 5px;
    font-size: large;
    font-weight: bold;
    min-height: $BaseHeight * .7;
    margin-top: 3px;
    padding-bottom: 1em;
    padding-left: 1em;
    padding-top: 1em;
    position: absolute;
    text-align: center;
    text-orientation: upright;
    transition: 1s all;
    width: 4%;
    writing-mode: vertical-lr;
    min-width: 30px;
    &#BasketPanel div{
        display: none;
    }
    &:hover {
        background-color: lightblue;
        text-orientation: sideways;
        width: 30%;
        writing-mode: horizontal-tb;

        &#BasketPanel div {
            display: block;
            position: relative;
            height: 100%;
        }
      }
    }

footer {
    display: none;
}
